$container-bg-color: rgb(66, 44, 83);
$container-text-color: rgb(7, 7, 7);
$container-newest-bg-color: rgb(48, 83, 44);
$container-newest-text-color: rgb(7, 7, 7);

$dropdown-bg-color: rgb(37, 22, 105);
$dropdown-text-color: rgb(250, 250, 250);
$input-bg-color: rgb(2, 8, 61);
$input-text-color: rgb(193, 235, 182);

.dropdown {
  height: 40px;
  width: 150px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: $dropdown-bg-color;
  color: $dropdown-text-color;
  font-size: 1rem;
}

.backBtn {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: rgb(3, 66, 3);
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  transition: 0.4s;
  top: 80px;
  left: 10px;
  &:hover {
    cursor: pointer;
    width: 120px;
  }
}

#back {
  transition-timing-function: ease;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  margin-top: 5px;
}

.form {
  width: 50%;
}

.form input {
  border-radius: 10px;
  border: none;
  background-color: lightblue;
  &::placeholder {
    color: black;
  }
  &:focus {
    outline: none;
    background-color: rgb(70, 70, 109);
    color: white;
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.filled {
  width: 400px;
  padding: 5px;
  margin: 20px;
  background-color: $container-bg-color;
  color: $container-text-color;
}

.newest {
  width: 400px;
  padding: 5px;
  margin: 20px;
  background-color: $container-newest-bg-color;
  color: $container-newest-text-color;
}

.containerText {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.btn {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  width: fit-content;
  text-transform: uppercase;
  border: 3px solid rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 21, 21);
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    border-color: rgb(17, 3, 216);
    transition: 0.4s;
  }
}

.topButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
