$bg-color: #191a19;
$primary-color: #1e5128;
$secondary-color: #4e9f3d;
$secondary-color-light: #d8e9a8;

.main {
  background-color: $bg-color;
  color: $secondary-color;
  background: radial-gradient(#3f3b55, $bg-color);
  height: 100vh;
  width: 100%;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-top: 20px;
  font-size: 5rem;
  font-family: "NerkoOne";
}

.container {
  background-color: $secondary-color-light;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 500px;
  min-height: 200px;
}

.info {
  color: $bg-color;
  text-align: center;
  padding-top: 10px;
}

.form {
  padding: 0 20px;
}

.form form input {
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  color: $secondary-color-light;
  padding: 0 15px;
  font-size: 1.1rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $secondary-color-light;
  }
}

.form input[type="date"] {
  margin: 0;
  width: 65%;
}

.dropdown {
  width: 65%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 1.1rem;
  background-color: $primary-color;
  color: $secondary-color-light;
  &:focus {
    outline: none;
  }
}

.form button[type="submit"] {
  margin-top: 10px;
  width: 100%;
  background-color: $bg-color;
  color: $secondary-color;
  border-radius: 10px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border: none;
  font-weight: bold;
  font-family: "NerkoOne";
  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    color: $bg-color;
    transition: 0.3s;
  }
}

.bottomText {
  padding-top: 10px;
  text-align: end;
  font-size: 1.2rem;
  height: 40px;
}

.bottomLink {
  margin-left: 5px;
  color: $bg-color;
}

.bottomLink:hover {
  cursor: pointer;
  color: $primary-color;
  transition: 0.3s;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-size: 1.2rem;
  padding-left: 10px;
  color: $bg-color;
  text-transform: uppercase;
}
